/*PT Sans*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Все цвета*/
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-brown: rgba(117, 97, 87, 1);
  --color-dark-brown-text: rgba(51, 51, 51, 1);
  --color-light-grey-background: rgba(242, 242, 242, 1);
  --color-blue: rgba(130, 179, 211, 1);
  --color-green: rgba(125, 181, 79, 1);
  --color-newsletter-green: rgba(153, 199, 165, 1);
  --color-hero-blue: rgba(145, 213, 245, 1);
  --color-catalog-blue: rgba(101, 189, 231, 1);
  --color-light-grey: rgba(131, 179, 211, 0.12);
  --color-grey: rgba(131, 179, 211, 0.2);
}

/*wrapper*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 0 15px 0 var(--color-shadow);
}

/*body*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark-brown-text);
  background-color: var(--color-light-grey-background);
  margin: 0;
  height: 100%;
}

/*Кнопки*/
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.header-button {
  background-color: var(--color-brown);
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-brown);
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-blue);
}

.footer-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  text-decoration: none;
}

.filter-button {
  background-color: var(--color-blue);
}

.favourites-button {
  background-color: var(--color-green);
}

.filter-button-reset {
  background: transparent;
}

.button-show {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  text-decoration: none;
}

/*Убираем скрытый текст*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Главная страница*/
/*header*/
.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}

/*main*/
.main {
  flex-grow: 1;
}

.hero {
  color: var(--color-white);
  background-color: var(--color-hero-blue);
  background-image: url("../images/index/divider-background.svg"), url("../images/index/index-background.jpg");
  background-position: bottom, center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

/*advantages*/
.advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.advantages-list {
  text-align: center;
  list-style: none;
}

.advantages-item {
  background-color: var(--color-light-grey);
}

.advantages-first-background {
  background-color: var(--color-blue);
}

.advantages-second-background {
  background-color: var(--color-grey);
}

.advantages-img {
  display: block;
}

/*services*/
.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-list {
  text-align: center;
  list-style: none;
}

.services-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.services-item-background {
  background-color: var(--color-light-grey);
}

/*hotel-search*/
.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
}

/*newsletter*/
.newsletter {
  text-align: center;
}

.newsletter-background {
  color: var(--color-white);
  background-color: var(--color-newsletter-green);
  background-image: url("../images/index/newsletter-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.newsletter-title-background {
  color: var(--color-white);
}

.newsletter-description-background {
  color: var(--color-white);
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

/*footer*/
.footer {
  text-align: center;
}

.footer-social-list {
  list-style: none;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-black);
  text-decoration: none;
}

/*Страница каталога*/
.catalog-background {
  color: var(--color-white);
  background-color: var(--color-catalog-blue);
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*breadcrumbs*/
.breadcrumbs {
  list-style: none;
}

/*link*/
.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
}

/*title*/
.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-white);
}

.catalog-filter-group {
  color: var(--color-white);
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*label*/
.control-input {
  line-height: 23px;
}

.catalog-filter-list {
  list-style: none;
}

/*catalog*/
.catalog-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-black);
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-dark-brown-text);
}

.catalog-header-list {
  list-style: none;
}

/*Список гостиниц*/
.catalog-list {
  list-style: none;
}

.catalog-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  text-decoration: none;
}

/*Рейтинг гостиницы*/
.hotel-stars-list {
  list-style: none;
}

.hotel-star-item {
  width: 18px;
  height: 17px;
  background-image: url("../images/catalog/hotel-star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-light-grey-background);
}

/*Пагинация*/
.pagination-list {
  list-style: none;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-blue);
  text-decoration: none;
}

.pagination-current {
  color: var(--color-black);
  background-color: var(--color-light-grey-background);
}
